<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">The OpenNMS User Conference Europe is a series of conferences focused on all the things around monitoring and network management.
    Our conferences create a time and place for the community to share information, discuss ideas and work together to improve monitoring with the free software OpenNMS.
</p>

<p itemprop="description">
    The two-day event gives you expert presentations and technical workshops around OpenNMS starting on <b>Thursday, 20th September</b> until <b>Friday, 21st September 2018</b>.
</p>

<p itemprop="description">
    On Wednesday the <b>19th September</b>, we offer a "Get-Together Event" <b>06:00 PM</b> at the <b>Rilano Hotel</b>.
    Get in contact with others in a very informal and nice atmosphere.
    The entrance is <b>free</b> but we need to know how many people appear, so please be aware you pick the right ticket.
</p>
