<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
    All those who contributed to the conference: Thank you for all your contribution!
    So many people have spend a lot of time to turn this event into a smoothly running conference.
    We had many interesting talks and a very good atmosphere for disucssion and networking.
    We hope you enjoyed the time with us and see you soon at our next conference.
</p>

<p itemprop="description">
    As soon we have all slides we will publish the links in the schedule.
    We get the recordings of the talks in the next week and will publish them as soon as possible.
    Stay tuned!
</p>
