<h2 class="section-title">{{ .titles.location }}</h2>

<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}</span>,
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion"> {{ .state }}</span>,
  <span><a href="https://www.rilano-hotel-muenchen.de/en/" target="_blank">https://www.rilano-hotel-muenchen.de/en/</a></span>
</p>

<div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}"></div>
<br/>
<p itemprop="description">
  The room contingent is sold out.
</p>

