<h2 class="section-title">{{ .titles.location }}</h2>

<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}. </span>
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion"> {{ .state }}</span>
</p>

<div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}"></div>
<br/>
<p itemprop="description">
  We have a contingent of rooms at the Rilano Hotel in Munich from the <b>19th September 2018</b> until <b>21st September 2018</b>. If you want to stay in the same hotel as the conference, use the keyword <b>OUCE2018</b> for your booking and you will get rooms from our reserved contingent. Accommodation is not included in the conference ticket.
</p>
<p itemprop="description">
    Website: <a href="https://www.rilano-hotel-muenchen.de/en/" target="_blank">Rilano Hotel München</a><br/>
    Keyword: OUCE2018
</p>
