<h2 class="section-title">{{ .titles.speakers }}</h2>

<ul class="speakers-list">
{{ range $speaker := .speakers }}
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .photo }}
      <span class="speaker-photo">
        <img class="photo" src="{{ . }}" alt="{{ $speaker.name }}" itemprop="image">
      </span>
    {{ end }}

    <h3 class="speakers-name">{{ .name }}
      {{ with .link }}
      <a href="{{ .href }}" target="_blank" title="{{ .text }}"> {{ .text }} </a>
      {{ end }}
    </h3>
    <p class="speakers-bio">{{ .bio }}<br/>
    <p class="speaker-slides"><a href="/img/{{ .slidefile }}" target="_blank"><img src="/img/{{ .slidethumbnail }}" /></a></p>
    {{ with .twitter }}
      <a href="{{ . }}" class="social-media-icon" target="_blank" title="Twitter link">
        <i class="fab fa-twitter"></i>
      </a>
    {{ end }}
    {{ with .github }}
    <a href="{{ . }}" class="social-media-icon" target="_blank" title="GitHub link">
      <i class="fab fa-github"></i>
    </a>
    {{ end }}
    {{ with .linkedin }}
    <a href="{{ . }}" class="social-media-icon" target="_blank" title="Linkedin link">
      <i class="fab fa-linkedin-in"></i>
    </a>
    {{ end }}
    {{ with .homepage }}
    <a href="{{ . }}" class="social-media-icon" target="_blank" title="Homepage link">
      <i class="fas fa-home"></i>
    </a>
    {{ end }}
    {{ with .keybase }}
    <a href="{{ . }}" class="social-media-icon" target="_blank" title="Keybase.io link">
      <i class="fas fa-key"></i>
    </a>
    {{ end }}
    {{ with .gplus }}
    <a href="{{ . }}" class="social-media-icon" target="_blank" title="Google Plus link">
      <i class="fab fa-google-plus-g"></i>
    </a>
    {{ end }}
    </p>
  </li>
{{ end }}
</ul>
